{% load static %} 

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/aframe-master.js' %}"></script>
    <script src="https://recast-api.donmccurdy.com/aframe-inspector-plugin-recast.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>
   
    <style>
        a-scene {
            height: 400px;
            width: 100%;
        }
    </style>
    
    
</head>
<body>

    <a-scene inspector-plugin-recast>


        
        <a-sky src=""   position="0 0 0" rotation="0 -100 0"  >
        </a-sky>
        <a-entity id="rig" movement-controls="controls: keyboard, touch; speed: 10; constrainToNavMesh: true">
            <a-entity camera="userHeight: 1.6"
                      position="0 1.6 0"
                      look-controls="pointerlockEnabled: true">
              <a-cursor nav-debug-pointer raycaster="objects: [nav-mesh];"></a-cursor>
            </a-entity>
          </a-entity>
        
      

    </a-scene>